body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prophet-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    background-color: #f0f0f0;
    text-align: center;
    flex: 1 1 calc(25% - 40px); /* 4 cards per row with some margin */
    box-sizing: border-box;
}

.prophet-card img {
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 960px) {
    .prophet-card {
        flex: 1 1 calc(50% - 40px); /* 2 cards per row on medium screens */
    }
}

@media (max-width: 600px) {
    .prophet-card {
        flex: 1 1 100%; /* 1 card per row on small screens */
    }
}
