body {
    font-family: Arial, sans-serif;
}

.table-container {
    position: relative;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    margin-bottom: 0; 
}

caption {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

thead {
    background-color: navy;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: lightblue;
}
