body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Light gray background color */
    color: #333; /* Dark gray text color */
}

header {
    background-color: #1a1a1a; /* Dark background color for the header */
    color: #fff; /* White text color */
    padding: 10px;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333; /* Dark background color for the navigation */
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

main {
    padding: 20px;
    background-color: #fff; /* White background color for the main content */
    border-radius: 5px; /* Rounded corners for a cleaner look */
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #333; /* Dark gray text color for labels */
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2; /* Light gray background color for input fields */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 3px; /* Rounded corners for input fields */
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none; /* Remove button border */
    border-radius: 3px; /* Rounded corners for the button */
}

button:hover {
    background-color: #555;
}

#membershipBenefits {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px; /* Rounded corners for the benefits section */
}

@media screen and (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
    }
}
