
@media screen and (min-width: 768px) {
    body {
        font-size: 18px; 
    }

    header {
        padding: 20px; 
    }

    nav ul {
        flex-direction: row; 
    }

    nav a {
        padding: 15px; 
    }

    main {
        margin: 20px; 
    }

    .hero {
        padding: 30px; 
    }

    .hero img {
        max-width: 100%; 
        height: auto; 
    }

    .hero h2 {
        font-size: 36px; 
        text-align: center; 
    }

    .hero p {
        text-align: center; 
    }

    .cta {
        font-size: 20px; 
    }

    .events,
    .weather,
    .spotlights {
        margin: 20px; 
    }

    .spotlight {
        padding: 20px; 
    }

    footer {
        padding: 20px; 
    }
}


